* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.form-main input {
    width: 60%;
}

.progress-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: fit-content;
}

.link-div {
    display: flex;
    justify-content: center;
    align-items: center;
}